<div class="container">
    <div class="text-center">
        <h3>App Logs</h3>
        <button id="clear" type="button" class="btn btn-danger">Clear</button><br/><br/>
    </div>
    <ul id="log" class="list-group"></ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var socket = io('http://localhost:4567');
        var id = 0;
        function isJson(str) {
            var objectConstructor = {}.constructor;
            var arrayConstructor = [].constructor;
            if (str.constructor === objectConstructor) {
                return true;
            } else if (str.constructor == arrayConstructor) {
                return true;
            }
            return false;
        }
        socket.on('message', function (data) {
            id += 1;
            let jsonId = "json" + id;
            let message = data.message ? data.message : "";
            $("#log").prepend('<li class="list-group-item"><span class="date">' + new Date() + "</span> : <b>" + message + '</b><p id="' + jsonId + '"></p></li>');

            if (data.data) {
                if (isJson(data.data)) {
                    var obj = data.data;
                    var node = new PrettyJSON.view.Node({
                        el: $('#' + jsonId),
                        data: obj
                    });
                } else {
                    $('#' + jsonId).html(data.data);
                }
            }
        });
        $("#clear").click(function () {
            $("#log").html('');
        });
    });

</script>